@font-face {
    font-family: 'F1BOLD';
    src: url(../../public/fonts/Formula1-Bold.otf);
}
@font-face {
    font-family: 'FLREGULAR';
    src: url(../../public/fonts/Formula1-Regular.otf);
}

.div2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.header2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 90%; 
}
.team-members {
    width: 280px;  
    padding: 10px;
    border: 1px solid #ddd; 
    border-radius: 5px;
    background: white;
    position: relative;
}
.team-members::before {
    content: "";
    width: 4px;
    height: 100%;
    background: orange;
    position: absolute;
    left: 0;
    top: 0;
}

.intro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.team-name {
    font-size: 12px;
    font-weight: normal;
    margin: 0;
    font-family: 'F1BOLD', sans-serif;
}
img{
    border-radius: 10px;
}

.img1 {
    width: 50px;
    padding: 5px;
    border-radius: 20px;

}
