@font-face {
    font-family: 'F1BOLD';
    src: url(../../public/fonts/Formula1-Bold.otf);
}
@font-face {
    font-family: 'FLREGULAR';
    src: url(../../public/fonts/Formula1-Regular.otf);
}

.div2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}