@font-face {
    font-family: 'F1BOLD';
    src: url(../../public/fonts/Formula1-Bold.otf);
}
@font-face {
    font-family: 'FLREGULAR';
    src: url(../../public/fonts/Formula1-Regular.otf);
}

.div2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.header2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 90%; 
}
.team-members {
    width: 280px;  
    padding: 10px;
    border: 1px solid #ddd; 
    border-radius: 5px;
    background: white;
    position: relative;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}
.team-members:hover {
    transform: scale(1.02); 
}
.team-members::before {
    content: "";
    width: 4px;
    height: 100%;
    background: #ff1e00;
    position: absolute;
    left: 0;
    top: 0;
}

.intro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.team-name {
    font-size: 12px;
    font-weight: normal;
    margin: 0;
    font-family: 'F1BOLD', sans-serif;
}
img{
    border-radius: 10px;
}

.img1 {
    width: 50px;
    padding: 5px;
    border-radius: 20px;

}
.team-members hr {
    border:0.5px solid red;
    transition: width 0.3s ease-in-out;
    width: 100%;
    margin: auto;
}

.team-members:hover hr  {
    border:1.5px dashed red;
}
.team-racing_team {
    font-size: 14px;
    color: #555;
    text-align: left;
    margin-left: 5px;
    font-family: 'FLREGULAR', sans-serif;
}


.team-members img {
    width: 100%;
    max-width: 220px;
    display: block;
    margin: 0 auto;
}
.d-img {
    display: flex;
    align-items: center; 
    justify-content: start; 
    gap: 20px; 
}

.member-racing_number {
    font-size: 25px; 
    padding-left: 45px;
    font-weight: bold;
    color: #ff1e00;
    font-family: 'FLREGULAR', sans-serif;
    margin: 0; 
    
}

.d-img img {
    width: 180px; 
    height: auto;
    object-fit: contain;
}

.div2 h1{
    color: #ff1e00;
    font-family: 'FLREGULAR', sans-serif;
    text-decoration: underline;
}
